body {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  background: #b3f0ff;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 123;
  justify-content: space-between;
}

#logo {
  display: inline-block;
  width: 133px;
  height: 77px;
}

#cartContainer {
  display: flex;
  justify-self: flex-end;
  text-decoration: none;
  color: white;
  margin-right: 30px;
}

.hiddenCart {
  display: none;
}

.showCart {
  padding: 20px;
  max-height: 400px;
  min-height: 100px;
  position: fixed;
  max-width: 400px;
  display: flex;
  min-width: 100px;
  justify-content: flex-end;
  top: 70px;
  color: black;
  background: white;
  flex-direction: column;
  right: 20px;
  border: 1px solid grey;
  z-index: 1234;
}

#header nav {
  text-align: center;
  z-index: 110;
}

#header nav ul {
  display: flex;
  justify-content: flex-start;
}

#myCartContent {
  display: inline-block;
  cursor: pointer;
}

#header nav ul li {
  margin: 5px;
  cursor: pointer;
}

#header nav ul li > span {
  text-decoration: none;
  display: inline-block;
  width: 95%;
  color: black;
  background: #2e221f;
  padding: 8px 2.5%;
  border-radius: 8px;
  height: 15px;
}

#header nav ul li span span {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#header nav ul li > span:hover {
  text-decoration: none;
  color: #2e221f;
  background: white;
}

.navClickedOn {
  color: #2e221f;
  background: white;
}

main {
  margin-top: 80px;
  padding-top: 18px;
  padding-left: 240px;
  overflow-y: scroll;
  height: 83vh;
}

#myCart {
  position: relative;
  float: right;
  padding: 20px 20px;
}

#myCart a:hover {
  text-decoration: none;
}

.sideMenu {
  position: fixed;
  top: 170px;
  left: 30px;
}

#indexSideMenu {
  background: #b3f0ff;
  color: black;
}

#productsContainer {
  display: flex;
  flex-direction: column;
}

.productHolder {
  width: 180px;
  display: flex;
  padding: 5px 10px;
  border: 1px solid black;
  align-items: center;
  box-shadow: 5px 10px #b3f0ff;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 20px;
}

.productPrice {
  align-self: flex-end;
  font-family: fantasy;
  font-size: 1.3em;
}

.imageProduct {
  margin-bottom: 20px;
}

.navClickedOn,
.navLink:hover {
  background: transparent;
  color: black;
}

.tabProducts {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.moreButton {
  text-decoration: none;
  margin-bottom: 30px;
  margin-right: 20px;
  padding: 5px 10px;
  text-align: right;
  cursor: pointer;
  color: grey;
  border: none;
  background: none;
  align-self: flex-end;
  font-size: 1.1em;
  font-family: sans-serif;
}

.subtab {
  padding: 10px;
  cursor: pointer;
}

.subtabClicked,
.subtab:hover {
  padding: 10px;
  background: white;
  color: black;
}

.productName {
  margin-bottom: 10px;
  max-height: 80px;
  color: darkslategrey;
  overflow: hidden;
}

#products {
  display: flex;
  flex-wrap: wrap;
}

.hiddenNotification {
  display: none;
}

.showNotification {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: 1px solid #b3f0ff;
  padding: 20px;
  background-color: black;
}

.buyButton {
  display: flex;
  color: black;
  background-color: #b3f0ff;
  border: none;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  justify-content: center;
  cursor: pointer;
}

.productHolderCart {
  display: flex;
}

.productHolderCart .imageProduct {
  height: 100px;
}

.productHolderCart .productName {
  padding-left: 1em;
  max-width: 200px;
}

.productHolderCart .productPrice {
  font-size: 1em;
}

.productsHolder {
  max-height: 310px;
  overflow-y: scroll;
}

.total {
  text-align: right;
  font-family: fantasy;
  font-size: 1.3em;
  margin: 1em;
}

.countButtons {
  margin: 0px 10px;
  height: 25px;
  width: 25px;
  border: none;
  background: #b3f0ff;
  cursor: pointer;
  color: white;
}

.priceContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding-right: 1em;
}

.priceContainer .productPrice {
  margin-left: 20px;
}

#orderForm {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-right: 20px;
}

#orderForm > * {
  margin-bottom: 1em;
}

.filtersContainer h2 {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 10px;
}

#prices,
#brand {
  padding: left;
}

#prices div,
#brand div {
  margin-bottom: 6px;
}

.orderWrapper {
  display: flex;
}

#orderContainer {
  padding-left: 20px;
}

#orderContainer .productsHolder {
  max-height: none;
  overflow-y: unset;
}

#orderForm label {
  font-size: 1.3em;
}

#orderForm input {
  font-size: 1.1em;
}

#buy {
  align-self: flex-end;
  background-color: #b3f0ff;
  border: none;
  color: white;
  padding: 10px;
}

.error {
  border: 1px solid red;
}

.productCartInfo {
  border: 1px solid gray;
  padding: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
}

@media screen and (max-width: 800px) {
  .orderWrapper {
    display: flex;
    flex-direction: column;
  }

  .productsHolder {
    width: 100%;
  }

  .productHolderCart {
    justify-content: space-between;
  }

  #orderForm {
    width: 100%;
    margin-bottom: 30px;
    border: none;
  }

  #orderMain {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 380px) {
  header nav ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  header nav ul li {
    box-sizing: border-box;
    width: 45%;
  }
  header nav ul li > span {
    height: 25px;
  }
}

@media screen and (min-width: 800px) {
  #logoContainer {
    display: block;
    float: left;
    margin: 0px 20px 0px 10px;
    width: auto;
  }

  header nav ul li {
    width: 20%;
  }

  header nav ul li > span {
    height: 40px;
  }

  #container {
    width: 90%;
    padding-top: 2em;
  }
}

@media screen and (min-width: 1170px) {
  #header nav {
    top: 10px;
    width: 1170px;
  }

  #header nav ul li > span {
    height: 35px;
  }
}
